section.publications {
  @include outer-container;
  div.publication-series {
    margin-bottom: em(20);
  }

  div.publication-list, div.publication-series {
    box-shadow: 0 1px 4px 1px $light-gray;
    padding: .75em;
    @include media($large-screen) {
      padding: 3em;
    }
    background: white;
    margin-top: em(20);
    h2 {
      @include media($small-screen) {
        font-size: $base-font-size * 1.2;  
      }
      @include media($large-screen) {
        font-size: $base-font-size * 2;
      }
      margin-bottom: em(10);;
    }
  }
}
