section.publications {
  @include outer-container;
  section.publication-series {
    margin-bottom: em(20);
  }

  section.publication-list, section.publication-series {
    @include media($large-screen) {
      padding: 3em;
    }
    background: white;
    margin-top: em(20);
    h2 {
      @include media($small-screen) {
        font-size: $base-font-size * 1.2;  
      }
      margin-bottom: em(10);;
    }
  }
}
