.theme {
  @include span-columns(8);
  padding:3em;
  background: white;
  box-shadow: 0 1px 4px 1px $light-gray;
}

.projects {
  @include span-columns(8);
  margin-top: em(20);
  padding: 3em;
  background: white;
  box-shadow: 0 1px 4px 1px $light-gray;
  
  h2 {
    margin-bottom: em(10);
  }
}
