
.projects {
  @include media($small-screen) {
    margin-top: em(20);
    padding: .75em;
  }

  @include media($large-screen) {
    @include span-columns(8);
    padding: 3em;
  }

  background: white;
  box-shadow: 0 1px 4px 1px $light-gray;

  .project {
    margin-top: em(20);
    margin-bottom: em(20);
  }
}

aside {
  @include media($small-screen) {
    padding: .75em;
  }

  @include media($large-screen) {
    @include span-columns(4);
    padding:3em;
  }

  background: white;
  box-shadow: 0 1px 4px 1px $light-gray;
}
