<section class="data">
  <h1>Data</h1>
  <article class="publication">
    <h1><i class="fa fa-book"></i> Convergence and differentiation processes in Swiss higher education: an empirical analysis.</h1>
    <div class="dataset">
      <h2>Datasets</h2>
      <ul>
        <li><a href="#">dataset 1</a><i class="fa fa-download"></i></li>
        <li><a href="#">dataset 2</a><i class="fa fa-download"></i></li>
        <li><a href="#">dataset 3</a><i class="fa fa-download"></i></li>
      </ul>
    </div>
    <div class="dataset">
      <h2>Documents</h2>
      <ul>
        <li><a href="#">document 1</a><i class="fa fa-file"></i></li>
        <li><a href="#">document 1</a><i class="fa fa-file"></i></li>
        <li><a href="#">document 1</a><i class="fa fa-file"></i></li>
      </ul>
    </div>
  </article>
  <article class="publication">
    <h1><i class="fa fa-book"></i> Convergence and differentiation processes in Swiss higher education: an empirical analysis.</h1>
    <div class="dataset">
      <h2>Datasets</h2>
      <ul>
        <li><a href="#">dataset 1</a><i class="fa fa-download"></i></li>
        <li><a href="#">dataset 2</a><i class="fa fa-download"></i></li>
        <li><a href="#">dataset 3</a><i class="fa fa-download"></i></li>
      </ul>
    </div>
    <div class="dataset">
      <h2>Documents</h2>
      <ul>
        <li><a href="#">document 1</a><i class="fa fa-file"></i></li>
        <li><a href="#">document 1</a><i class="fa fa-file"></i></li>
        <li><a href="#">document 1</a><i class="fa fa-file"></i></li>
      </ul>
    </div>
  </article>
</section>
