<section class="news">
  <article class="news">
    <div class="content">
    <header>
    <h1>Odysseus project 'Higher Education Governance'</h1>
    <time datetime="2014-07-10 11:40:01 UTC">10 July 2014</time>
    </header>
    <p>The overall aim of the research (supported by a five-year FWO Odysseus grant) is to increase our scholarly understanding of Governance in Higher Education. This understanding will improve through in-depth, theory-based investigations of aspects of governance, but practical aspects (improving policy and institutional practice) will be addressed as well.</p> 
  <h2>Document</h2>
  <ul>
    <li><a href="/uploads/news_item/document/2/vergadering.docx">vergadering.docx</a><i class="fa fa-download"></i></li>
  </ul>
  <h2>Link</h2>
  <ul>
    <li><a href="/news_items/2">http://www.cjs.ugent.be</a></li>
  </ul>
  </div>
  <img src="images/jigsaw-puzzle.jpg" />
</article>
</section>

