<section class="people">
  <div class="lead">
    <h1>People</h1>
    <p>The Centre for Higher Education Governance Ghent is led by prof. Jeroen Huisman and employs seven researchers and has several affiliate members.</p>
  </div>
  <div class="members">
    <div class="member">
      <a href="/people-detail.html"><img src="images/jeroen-huisman.jpg" /></a>
      <h5>Jeroen Huisman</h5>
      <p>Professor of Higher Education</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/jelle-mampaey.jpg" /></a>
      <h5>Jelle Mampaey</h5>
      <p>Postdoctoral Researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/jelena-brankovic.jpg" /></a>
      <h5>Jelena Brankovic</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/lisa-brockerhoff.jpg" /></a>
      <h5>Lisa Brockerhoff</h5>
      <p>Phd researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/marco-seeber.jpg" /></a>
      <h5>Marco Seeber</h5>
      <p>Postdoctoral Researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/martina-vukasovic.jpg" /></a>
      <h5>Martina Vukasovic</h5>
      <p>Postdoctoral Researcher</p>
    </div>
    <div class="member">
      <a href="#"><img src="images/meta-gorup.jpg" /></a>
      <h5>Meta Gorup</h5>
      <p>Phd researcher</p>
    </div>
  </div>
</section>
