<section class="people-detail">
  <article>
    <h1>Jeroen Huismans</h1>
    <img src="images/jeroen-huisman.jpg" />
    <p>Jeroen Huisman is professor of Higher Education at CHEGG, Department of Sociology Ghent University). He holds a Master's degree Educational Studies, University of Groningen, the Netherlands (1991) and a PhD degree in Public Administration of the University of Twente, the Netherlands (1995). In 2005, he was appointed professor of Higher Education Management at the University of Bath. in 2013, he was granted an FWO Odysseus project at Ghent University. His main research interest are organisational change, institutional governance and higher education policy. He is editor of Higher Education Policy and co-editor of the SRHE Higher Education book series</p>
  <h2>Projects</h2>
  <ul>
    <li><a href="#">Odysseus Project</a></li>
    <li><a href="#">Odysseus Project</a></li>
  </ul>
  <h2>Courses</h2
  <ul>
    <li><a href="#">Higher Education Governance</a></li>
    <li><a href="#">Odysseus Project</a></li>
  </ul>
  <h2>Publications</h2
  <ul>
    <li><a href="#">The protection of journalistic sources under fire? How developments in European human rights Law have reinforced the right of journalists to have their sources protected (2013). Dirk Voorhoof (Ugent).</a></li>
    <li><a href="#">The protection of journalistic sources under fire? How developments in European human rights Law have reinforced the right of journalists to have their sources protected (2013). Dirk Voorhoof (Ugent).</a></li>
  </ul>
  </article>
</section>
