<section class="project">
  <article class="project">
    <h1>Odysseus project 'Higher Education Governance'</h1>
    <img src="images/jigsaw-puzzle167x167.jpg" />
    <p>The overall aim of the research (supported by a five-year FWO Odysseus grant) is to increase our scholarly understanding of Governance in Higher Education. This understanding will improve through in-depth, theory-based investigations of aspects of governance, but practical aspects (improving policy and institutional practice) will be addressed as well.</p> 
    <div class="researchers">
      <h2>Researchers</h2>
      <ul>
        <li><i class="fa fa-user"></i><a href="#">Jeroen Huisman</a></li>
        <li><i class="fa fa-user"></i><a href="#">Ronan Van Rossem</a></li>
        <li><i class="fa fa-user"></i><a href="#">Jelle Mampaey</a></li>
      </ul>
    </div>
    <div class="researchers">
      <h2>Publications</h2>
      <ul>
        <li><i class="fa fa-book"></i><a href="#">publication 1</a></li>
        <li><i class="fa fa-book"></i><a href="#">publication 2</a></li>
        <li><i class="fa fa-book"></i><a href="#">publication 3</a></li>
      </ul>
    </div>
</article>
</section>
